---
layout: default
---



<p>WORK IN PROGRESS, NOT OPTIMIZED - NOT FOR PRODUCTION USE</p>
<!-- href="{{ "assets/css/main.css" | prepend: site.baseurl }}"> -->
<section style="background-image: url({{ 'assets/images/updated_background.jpg' | prepend: site.baseurl }})"
    class="hero is-info ">
    {% include navbar.html %}

    <div class="hero-body">
        <div class="container">
            <div class="columns is-gapless">

                <div class="column is-6 has-text-centered">
                    <img class="mainImg"
                        src="{{ 'assets/images/landing-dashboard-screen.png' | prepend: site.baseurl }}" />
                </div>

                <div class="column is-6">
                    <h1 class="title is-1 has-text-centered">Join the maintenance intelligence revolution</h1>
                    <h2 class="subtitle is-4 has-text-centered">Let the Fiix dashboard do the work for you. Make better
                        decisions, faster with turbo-charged visualized maintenance data and analytics at your
                        fingertips</h2>

                    <div class="has-text-centered">
                        <a class="button is-success is-size-4">Get started with a free tour</a </div> </div> </div>
                            </div> </div> </section> <section class="hero is-medium">
                        <div class="hero-body">
                            <div class="container">
                                <div class="columns is-centered">
                                    <div class="column is-9">
                                        <h1 class="subtitle is-2 has-text-centered">
                                            The fastest path to better asset maintenance & more
                                        </h1>
                                        <h2 class="subtitle is-4 has-text-centered">
                                            Fiix is cloud-based CMMS software for maintenance and asset management that
                                            organizes, tracks, and schedules your maintenance activities. Faster.
                                            Better. For less.
                                        </h2>

                                        <br>


                                        <div class="has-text-centered">
                                            <a class="button is-size-4 is-link is-outlined has-text-centered">
                                                Get started today for just $40
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
</section>


<section>
    <div class="container-fluid">
        <div class="columns is-gapless">
            <div class="column is-4">

                <article class="notification is-info">
                    <br>
                    <div class="content">
                        <div class="columns">
                            <div class="column is-4">
                                <span><img src="{{ 'assets/images/lightning-fast-w.png' | prepend: site.baseurl }}"
                                        alt=""></span>

                            </div>
                            <div class="column">
                                <p class="subtitle is-4 ">Lightning fast setup</p>
                                <p class="is-size-6">
                                    Minutes to get set up, not weeks. Our cloud-based CMMS software quickly organizes
                                    all maintenance activities into one easy-to-use tool.
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                </article>

            </div>

            <div class="column is-4">

                <article class="notification is-link">
                    <br>
                    <div class="content">
                        <div class="columns">
                            <div class="column is-4">
                                <span><img src="{{ 'assets/images/skyrocket-w.png' | prepend: site.baseurl }}"
                                        alt=""></span>

                            </div>
                            <div class="column">
                                <p class="subtitle is-4 ">Skyrocket productivity</p>
                                <p class="is-size-6">
                                    Stop spending hours logging work orders and staring at a list of tasks trying to
                                    figure out what’s next. It’s the maintenance slog and we’re here to end it.
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                </article>

            </div>



            <div class="column is-4">

                <article class="notification is-info">
                    <br>
                    <div class="content">
                        <div class="columns">
                            <div class="column is-4">
                                <span><img src="{{ 'assets/images/building-w.png' | prepend: site.baseurl }}"
                                        alt=""></span>

                            </div>
                            <div class="column">
                                <p class="subtitle is-4">Built for any business</p>
                                <p class="is-size-6">
                                    Simple enough for your entire team. And when work gets complicated, Fiix CMMS
                                    software has the features you need to move projects forward.
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                </article>

            </div>

        </div>
    </div>
</section>


<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-7">
                    <div>
                        <h2 class="subtitle is-2 has-text-centered">Discover Fiix</h2>
                        <br>
                    </div>
                    <iframe width="100%" height="500" src="https://www.youtube.com/embed/s5W8Oxdli10" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>




<section style="background-image: url({{ 'assets/images/updated_background.jpg' | prepend: site.baseurl }})"
    class="hero is-info is-medium">

    <div class="hero-body">

        <div class="container">

            <div class="carousel">

                <div class="columns is-centered">

                    <div class="column">

                        <div class="has-text-centered">

                            <img src="https://www.fiixsoftware.com/wp-content/uploads/2017/02/coldwell_solar.png"
                                alt="">
                            <br>
                        </div>

                        <p class="has-text-centered is-size-5">"Coldwell Solar is growing fast and we wanted a
                            cloud-based CMMS to manage our solar assets. I compared multiple solutions but always came
                            back to Fiix. The per user pricing model is easy to understand and it's absolutely the best
                            bang for your buck."</p>
                        <hr>
                        <p class="has-text-centered is-size-6">Blaine Neal, O&M Manager, Coldwell Solar</p>
                    </div>

                </div>

                <div class="columns is-centered">

                    <div class="column">

                        <div class="has-text-centered">

                            <img src="https://www.fiixsoftware.com/wp-content/uploads/2018/04/bh-300.png" alt="">
                            <br>
                        </div>

                        <p class="has-text-centered is-size-5">"Game changer. Since I have brought this system into our
                            company we doubled efficiency and reduced downtime by 50%"</p>
                        <hr>
                        <p class="has-text-centered is-size-6">Stern - B&H Photo</p>
                    </div>

                </div>

            </div>


        </div>
    </div>

</section>




<section>

    <div class="container">
        <div class="columns is-centered">
            <div class="column is-9">
                <br>
                <br>
                <p class="subtitle is-3 has-text-centered">Cloud-Based CMMS software features designed for easier
                    maintenance, work orders, and asset management</p>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container-fluid">

        <div class="columns">
            <div class="column">

                <div class="features_hover_content_container">


                    <!---- Content block ---->
                    <div class="feature_hover_content_1 hover_content content is-medium has-text-justified"
                        style="display: none;">
                        <div>
                            <h4>Simplified work orders</h4>
                            <p>Put an end to missing paperwork, sticky&nbsp;notes, Excel sheets, and complicated
                                products with easy-to-use&nbsp;work order software. Easily create, assign, and manage
                                unlimited work orders from your mobile device, tablet, or desktop computer.</p>
                            <p><a href="/cmms/features/">Learn more</a></p>

                        </div>
                    </div>


                    <!---- Content block ---->
                    <div class="feature_hover_content_2 hover_content content is-medium has-text-justified"
                        style="display: none;">
                        <h4>Preventive maintenance</h4>
                        <p>Make your maintenance procedures more effective by tracking <a
                                href="/maintenance-strategies/preventative-maintenance/">preventive maintenance</a> in
                            one CMMS. Automatically generate work orders based on time, event, or meter-based triggers.
                        </p>
                        <p><a href="/cmms/features/">Learn more</a></p>
                    </div>

                    <!---- Content block ---->
                    <div class="feature_hover_content_3 hover_content content is-medium has-text-justified"
                        style="display: none;">
                        <h4>Multi-site management</h4>
                        <p>Operate multiple businesses, divisions, locations, or facilities from one central <a
                                href="/cmms/">CMMS software</a> database. Assign site-specific permissions, and see site
                            information in real time. </p>
                        <p><a href="/cmms/features/">Learn more</a> </p>

                    </div>

                    <!---- Content block ---->
                    <div class="feature_hover_content_4 hover_content content is-medium has-text-justified"
                        style="display: none;">
                        <h4>Customizable reporting</h4>
                        <p>Get insights from your CMMS data. Create custom reports, leverage over 100 existing reports,
                            or check key KPIs on your CMMS dashboard.</p>
                        <p>
                            <a href="/cmms/features/">Learn more</a> </p>
                    </div>


                    <!---- Content block ---->
                    <div class="feature_hover_content_5 hover_content content is-medium has-text-justified"
                        style="display: none;">
                        <h4>Seamless integrations</h4>
                        <p>Easily <a href"="" integrations="" "="">connect your maintenance and asset management software with your ERP</a> in order to share important enterprise information between systems or connect directly to equipment and machines to trigger maintenance. </p>
                                        <p><a href="/cmms/features/">Learn more</a> </p> </div> </div> </div> <div
                                class="column">
                                <!---- CONTAINER FOR FEATURES IMAGE ---->


                                <div class="features_hover_content_image">

                                    <!---- CONTAINER FOR FEATURES ICON TRIGGERS ---->


                                    <div class="features_hover_content_triggers">
                                        <br>
                                        <img src="{{ 'assets/images/work-orders.png' | prepend: site.baseurl }}"
                                            class="features_hover_1" alt="Work order icon">
                                        <br>
                                        <img src="{{ 'assets/images/maintenance.png' | prepend: site.baseurl }}"
                                            class="features_hover_2" alt="Maintenance logo">
                                        <br>
                                        <img src="{{ 'assets/images/building-multi.png' | prepend: site.baseurl }}"
                                            class="features_hover_3" alt="Multiple buildings icon">
                                        <br>
                                        <br>
                                        <img src="{{ 'assets/images/piechart.png' | prepend: site.baseurl }}"
                                            class="features_hover_4" alt="Pie chart icon">
                                        <br>
                                        <img src="{{ 'assets/images/gear.png' | prepend: site.baseurl }}"
                                            class="features_hover_5" alt="Gear icon">



                                    </div>


                                </div>
                    </div>
                </div>

            </div>

</section>


<section class="hero is-info is-bold">
    <div class="hero-body wpb_text_column">
        <div class="container">
            <h1 class="subtitle is-3 has-text-centered">
                Join the thousands of customers using Fiix maintenance management software
            </h1>
            <div class="columns is-centered">

                <div class="column is-8">

                    <div class="columns is-multiline is-centered">


                        <div class="column is-3">
                            <img src="{{ 'assets/images/molson-coors.png' | prepend: site.baseurl }}"
                                alt="Molson-Coors">
                        </div>

                        <div class="column is-3">
                            <img src="{{ 'assets/images/magna.png' | prepend: site.baseurl }}" alt="Magna">
                        </div>
                        <div class="column is-3">
                            <img src="{{ 'assets/images/virgin.png' | prepend: site.baseurl }}" alt="Virgin">
                        </div>
                        <div class="column is-3">
                            <img src="{{ 'assets/images/kraft-heinz.png' | prepend: site.baseurl }}" alt="Kraft">
                        </div>
                        <div class="column is-3">
                            <img src="{{ 'assets/images/seaspan.png' | prepend: site.baseurl }}" alt="Seaspan">
                        </div>
                        <div class="column is-3">
                            <img src="{{ 'assets/images/KFC.png' | prepend: site.baseurl }}" alt="KFC">
                        </div>
                        <div class="column is-3">
                            <img src="{{ 'assets/images/temper_sealy.png' | prepend: site.baseurl }}" alt="Temper">
                        </div>
                        <div class="column is-3">
                            <img src="{{ 'assets/images/toyota_logo.png' | prepend: site.baseurl }}" alt="Toyota">
                        </div>
                        <div class="column is-3">
                            <img src="{{ 'assets/images/old-castle.png' | prepend: site.baseurl }}" alt="Old Castle">
                        </div>
                        <div class="column is-3">
                            <img src="{{ 'assets/images/alstom.png' | prepend: site.baseurl }}" alt="Alstom">
                        </div>
                        <div class="column is-3">
                            <img src="{{ 'assets/images/365-data-center.png' | prepend: site.baseurl }}"
                                alt="365 Data Center">
                        </div>
                        <div class="column is-3">
                            <img src="{{ 'assets/images/american-standard.png' | prepend: site.baseurl }}"
                                alt="American Standard">
                        </div>
                        <div class="column is-3">
                            <img src="{{ 'assets/images/Siemens.png' | prepend: site.baseurl }}" alt="Siemens">
                        </div>
                        <div class="column is-3">
                            <img src="{{ 'assets/images/colorado-rockies.png' | prepend: site.baseurl }}"
                                alt="colorado-rockies">
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>


<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    <div class="columns is-centered is-variable is-8">
                        <div class="column is-4">
                            <img src="{{ 'assets/images/fiix_phone.png' | prepend: site.baseurl }}" alt="fiix phone">
                        </div>
                        <div class="column">
                            <br>
                            <h1 class="subtitle is-3 has-text-centered">Mobilize like never before</h1>
                            <div class="content is-medium has-text-justified">
                                <p><span>The new Fiix <a href="/cmms/mobile-cmms/">mobile CMMS app</a> lets you be truly
                                        mobile with your maintenance operations. New features like offline mode and
                                        easier work order management put everything you need at your fingertips—wherever
                                        work takes you.<span>&nbsp;</span></span><a
                                        href="https://www.fiixsoftware.com/cmms/mobile-cmms/#download_section"
                                        class="download">Download today</a><span><span>&nbsp;</span>and see for yourself
                                        what it’s like to work without limitations.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="subtitle is-2 has-text-centered">
                Evaluating maintenance management software?
            </h1>
            <h2 class="subtitle has-text-centered">
                We put together some tools to help you make the best choice for your business.
            </h2>

            <div class="has-text-centered">
                <a class="button is-success is-size-4"><strong>Get the toolkit</strong></a>
            </div>
        </div>
    </div>
</section>



{% include footer.html %}