---
layout: default
title: "Data center maintenance CMMS software"
description: "Whether you’re a data center maintenance manager or a tech that runs regular maintenance on your HVAC
systems, blade servers and uninterruptible power supplies, using data center maintenance software will improve
productivity and efficiency while reducing the cost of running your equipment. Fiix’s data center maintenance software
has simple to use maintenance tracking features that will help you keep important assets working smoothly. Use our data
center maintenance software to manage maintenance on transfer switches, uninterruptible power supplies (UPS), power
distribution units (PDU), computer room air conditioners (CRAC), fire protection systems, access control systems,
cooling towers, generators and condensers."
---

{% include industry_header.html %}

{% include industry_description.html %}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                        {% include industry-video.html %}
                </div>
                <div class="column is-6">
                    <div class="content">
                      
                        <h3>Data center maintenance software increases productivity</h3>
<ul>
<li>Organize and view your datacenter equipment in an intuitive hierarchy</li>
<li>Assign maintenance managers to specific buildings and assets</li>
<li>Run preventive maintenance and scheduled maintenance</li>
<li>See every device’s service history</li>
<li>Scopes-of-work and procedures for maintenance activities</li>
<li>Send email alerts to appropriate people when an emergency happens</li>
<li>Track all warranties, service contracts and manuals in one place</li>
</ul>

                    </div>
                </div>
            </div>
        </div>
</section>

<hr>

{% include why_use_us.html %}

{% include kick_tires.html %}


{% include footer.html %}