---
layout: default
title: "Lab maintenance CMMS software"
description: "A research laboratory is a place of expensive calibrated equipment, standard operating procedures, hazard
analyses, and quality management. Using research laboratory maintenance software will provide a cost effective and easy
method of recording all of the data that is needed to satisfy the requirements of your university, government
regulators, occupational health and safety auditors, and quality management auditors. The software will ensure your
equipment gets properly maintained – from calibration records to standard operating procedures – whilst also
guaranteeing that your safety processes are always up-to-date."
---


{% include industry_header.html %}

{% include industry_description.html %}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                        {% include industry-video.html %}
                </div>
                <div class="column is-6">
                    <div class="content">
                        <h3>A powerful tool to streamline the maintenance of your laboratory equipment:</h3>
                        <ul>
                        <li>Organize and record all of your research equipment</li>
                        <li>Ensure proper calibration and maintenance schedules are carried out</li>
                        <li>Guarantee your safety equipment (fire extinguishers, chemical safety supplies etc) is correctly maintained</li>
                        <li>Keep track of purchase history of laboratory consumables</li>
                        <li>Track all warranties and purchase records</li>
                        <li>Eliminate the various spreadsheets and paper records you currently have to manage</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>

<hr>


{% include why_use_us.html %}

{% include kick_tires.html %}


{% include footer.html %}