---
layout: default
title: "School maintenance CMMS software"
description: "Whether you’re an independent learning institute, or a member of the public school board, proper school
building maintenance and efficient workflow is imperative in making sure that equipment, grounds and technology at your
school is up and running on a daily basis. Save time and money by mitigating corrective maintenance and quickly
accessing parts and supplies information. Forget piles of papers and unreliable machines, Fiix CMMS has you covered."
---


{% include industry_header.html %}

{% include industry_description.html %}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    {% include industry-video.html %}
                </div>
                <div class="column is-6">
                    <div class="content">
                        <h3>School building maintenance software improves organization:</h3>
                        <ul>
                            <li>Track, communicate and control maintenance costs and activities</li>
                            <li>Simplify inspection rounds – check off tasks as you complete the inspections in
                                real-time</li>
                            <li>Have your facilities and machines trigger work orders automatically</li>
                            <li>Build custom preventative maintenance work orders</li>
                            <li>Assign users to specific sites, facilities and equipment</li>
                            <li>Organize and view machinery, systems and facilities in an intuitive hierarchy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>

<hr>


{% include why_use_us.html %}

{% include kick_tires.html %}

{% include footer.html %}