---
layout: default
title: "University and school maintenance CMMS software"
description: "Managing facility maintenance at higher educational institutions demands organization, accountability and
reliability. Software for university maintenance lets you to manage your maintenance for affiliate sites abroad,
buildings on campus, outdoor fields and everything in between. Our software for university maintenance gives you full
access to powerful tools that will help you simplify your maintenance management strategy."
---


{% include industry_header.html %}

{% include industry_description.html %}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    <iframe class="lazyload" width="100%" height="500"
                        data-src="https://www.youtube.com/embed/s5W8Oxdli10" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="column is-6">
                    <div class="content">
                        <h3>University maintenance software accelerates maintenance productivity:</h3>
                        <ul>
                        <li>Set up preventative maintenance schedules that lower equipment down-time and increase reliability.</li>
                        <li>Generate work orders on the fly in under&nbsp;mere minutes using our mobile app</li>
                        <li>Set up inspection rounds and check off tasks as you complete the inspections in real-time.</li>
                        <li>Ensure parts and inventory are always in stock. Get notifications when you’re running out so you’re never short.</li>
                        <li>Trigger work orders automatically with an intuitive meter reading system.</li>
                        <li>Produce custom and prebuilt reports that give you rich metrics to base future projects off.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>

<hr>


{% include why_use_us.html %}

<section class="hero is-info is-bold is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                Just looking to kick the tires a bit?
            </h1>
            <h2 class="subtitle has-text-centered">
                The best way to get to know Fiix maintenance management software is to get your hands on the actual
                product. Go ahead. Take it for a spin.
            </h2>
            <br>
            <div class="columns is-centered">

                <div class="column is-4">

                    <div class="has-text-centered">
                        <a class="button is-success is-size-4 is-size-6-mobile is-fullwidth" href="">Get started with a
                            free tour</a>

                    </div>

                </div>


            </div>
        </div>
    </div>
</section>


{% include footer.html %}