---
layout: default
title: "University and school maintenance CMMS software"
description: "Managing facility maintenance at higher educational institutions demands organization, accountability and
reliability. Software for university maintenance lets you to manage your maintenance for affiliate sites abroad,
buildings on campus, outdoor fields and everything in between. Our software for university maintenance gives you full
access to powerful tools that will help you simplify your maintenance management strategy."
---


{% include industry_header.html %}

{% include industry_description.html %}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                        {% include industry-video.html %}
                </div>
                <div class="column is-6">
                    <div class="content">
                        <h3>University maintenance software accelerates maintenance productivity:</h3>
                        <ul>
                        <li>Set up preventative maintenance schedules that lower equipment down-time and increase reliability.</li>
                        <li>Generate work orders on the fly in under&nbsp;mere minutes using our mobile app</li>
                        <li>Set up inspection rounds and check off tasks as you complete the inspections in real-time.</li>
                        <li>Ensure parts and inventory are always in stock. Get notifications when you’re running out so you’re never short.</li>
                        <li>Trigger work orders automatically with an intuitive meter reading system.</li>
                        <li>Produce custom and prebuilt reports that give you rich metrics to base future projects off.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>

<hr>


{% include why_use_us.html %}

{% include kick_tires.html %}


{% include footer.html %}