<footer>

  <section class="hero is-light" style="background: #e1e1e1!important;
    ">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-3">
            <p><strong>Product</strong></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a href="/cmms">CMMS</a></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a href="/cmms/features">Features</a></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a href="/cmms/mobile-cmms">Mobile</a></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a href="/cmms/cloud-maintenance-software">Cloud & SaaS</a></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a href="/cmms/product-demo">Demo</a></p>

          </div>
          <div class="column is-3">
            <p><strong>Pricing</strong></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a href="/pricing">Basic</a></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a href="/pricing">Professional</a></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a href="/pricing">Enterprise</a></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a href="/pricing">Performance</a></p>
          </div>
          <div class="column is-3">
            <p><strong>Industry Solutions</strong></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a
                href="/cmms/industry-solutions/fleet-maintenance-software">Fleet maintenance software</a></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a
                href="/cmms/industry-solutions/factory-maintenance-software">Factory maintenance software</a></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a
                href="/cmms/industry-solutions/food-processing-maintenance">Food processing maintenance software</a></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a href="/cmms/industry-solutions/textile-manufacturing">Textile
                manufacturing</a></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a
                href="/cmms/industry-solutions/university-maintenance-software">University maintenance software</a></p>
          </div>

          <div class="column is-3">
            <p><strong>Company & Support</strong></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a href="/about-us">About Us</a></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a href="/contact-us">Contact Us</a></p>
            <br>
            <p class="has-text-weight-light is-size-7"><a href="/integrations">Integrations</a></p>

          </div>
        </div>
        <br>
        <br>
        <div class="has-text-centered">
          <p><strong>Maintenance tips you can use. For free. Sign up for insider updates, news, and tips.</strong></p>

          <br>
          <br>
          <div class="columns is-centered">

            <div class="column">

              <div class="columns">

                <div class="column">
                  <img class="lazyload" data-src="{{ 'assets/images/footer_innovator.jpg' | prepend: site.baseurl }}"
                    alt="cloud">
                </div>

                <div class="column">
                  <img class="lazyload" data-src="{{ 'assets/images/footer_carbonzero.jpg' | prepend: site.baseurl }}"
                    alt="cloud">
                </div>

                <div class="column">
                  <img class="lazyload" data-src="{{ 'assets/images/footer_bcorp.png' | prepend: site.baseurl }}"
                    alt="cloud">
                </div>

              </div>

            </div>
            <div class="column">
              <div>
                <br>
                <div class="field has-addons">
                  <p class="control">
                    <input class="input is-size-4" type="text" placeholder="What's your email?">
                  </p>
                  <p class="control">
                    <a class="button is-dark is-size-4 is-fullwidth">
                      Join
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="columns">

                <div class="column">

                  <a href=""><img style="height: 100px; width: 60px;" class="lazyload"
                      data-src="{{ 'assets/images/facebook.svg' | prepend: site.baseurl }}" alt="Facebook"></a>
                </div>

                <div class="column">
                  <a href=""><img style="height: 100px; width: 60px;" class="lazyload"
                      data-src="{{ 'assets/images/linkedin.svg' | prepend: site.baseurl }}" alt="Facebook"></a>
                </div>

                <div class="column">
                  <a href=""><img style="height: 100px; width: 60px;" class="lazyload"
                      data-src="{{ 'assets/images/youtube.svg' | prepend: site.baseurl }}" alt="Facebook"></a>
                </div>

              </div>
            </div>

          </div>
          <br>
          <p> Fiix® is a registered trademark of Fiix Inc. Copyright © 2019. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </section>


</footer>