<section class="hero is-link fiixBlue is-medium">
    {% include navbar.html %}

    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-12">
                    <br>
                    <h1 class="subtitle is-1 is-size-3-mobile has-text-centered">
                     {{page.title}}
                    </h1>

                    <br>

                </div>

            </div>
        </div>
    </div>
</section>