<section class="hero is-link fiixBlue is-medium">


    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-12">
                   <div class="is-hidden-desktop" style="margin-top: 100px"></div>
                    <h1 class="subtitle is-1 is-size-3-mobile has-text-centered">
                     {{page.title}}
                    </h1>

                    <br>

                </div>

            </div>
        </div>
    </div>

</section>