<nav class="navbar is-fixed-top transNav">
        <div class="navbar-brand">
            <a class="navbar-item is-hidden-mobile" href="/">
                <img class="fixLogoWhite" src="{{ 'assets/images/fiix_logo_white_retina.png' | prepend: site.baseurl }}" height="28" />
                <img style="display: none;" class="fixLogo" src="{{ 'assets/images/fiix_logo.png' | prepend: site.baseurl }}" height="28" />

            </a>

            <a role="button" class="navbar-burger burger has-text-white" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">


            </div>

            <div style="margin-right: 5em;" class="navbar-end">
                <div class="toChange navbar-item has-dropdown is-hoverable has-text-grey-lighter">
                    <a class="toChange navbar-link is-arrowless is-size-6 has-text-grey-lighter has-text-weight-bold">
                        Products
                    </a>

                    <div class="navbar-dropdown is-boxed">
                        <a href="/cmms" class="navbar-item has-text-black">
                            CMMS
                        </a>
                        <a href="/cmms/features" class="navbar-item has-text-black">
                            Features
                        </a>
                        <a href="/cmms/mobile-cmms" class="navbar-item has-text-black">
                            Mobile CMMS
                        </a>
                        <a href="/cmms/cloud-maintenance-software" class="navbar-item has-text-black">
                           Cloud and SaaS CMMS
                        </a>
                        <a href="/cmms/product-demo" class="navbar-item has-text-black">
                            Demo
                         </a>
                    </div>
                </div>

                <a href="/cmms/pricing" class="navbar-item toChange is-size-6 has-text-grey-lighter has-text-weight-bold">
                    Pricing
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link toChange is-arrowless is-size-6 has-text-grey-lighter has-text-weight-bold">
                       Solutions
                    </a>

                    <div class="navbar-dropdown is-boxed">
                        <a href="/cmms/industry-solutions/" class="navbar-item has-text-black">
                        Industry Solutions
                        </a>
                        <a href="/integrations" class="navbar-item has-text-black">
                          Integrations
                        </a>

                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-arrowless is-size-6 toChange has-text-grey-lighter has-text-weight-bold">
                          Company
                        </a>
    
                        <div class="navbar-dropdown">
                            <a href="/about-us" class="navbar-item has-text-black">
                         About Us
                            </a>
                            <a href="/contact-us" class="navbar-item has-text-black">
                           Contact Us
                            </a>
    
                        </div>
                    </div>
                        
                    <a href="/login" class="navbar-item toChange is-size-6 has-text-grey-lighter has-text-weight-bold">
                    Login
                </a>
                <!-- <a href="https://www.fiixsoftware.com/cmms-login/" class="navbar-item is-size-6 has-text-white">
                    Login
                </a> -->
                <span class="navbar-item">
                    <a class="demoBTN button is-white is-outlined is-size-7" href="/cmms/product-demo">Book a demo</a>
                </span>
            </div>
        </div>
    </nav>