<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle is-3 has-text-centered">
                Why use our equipment maintenance software?
            </h2>
            <br>
            <div class="columns is-centered is-variable is-6">

                <div class="column is-4">
                    <h2 class="title is-6">Easy-to-use and fully customizable</h2>
                    <p class="is-size-6">Factory equipment maintenance software has been unnecessarily complicated for
                        far to long. We decided to put an end to that. Our equipment maintenance software combines
                        ease-of-use with enterprise functionality. The software is fully loaded with features, but is
                        also intuitive and customizable. The result is equipment maintenance software that makes your
                        job easier while driving productivity and improving efficiency. It takes less time to learn and
                        comes with embedded instructional videos so you’re never more than a click away from support if
                        you get stuck.</p>
                </div>


                <div class="column is-4">
                    <h2 class="title is-6">Synced with today’s mobile world</h2>
                    <p class="is-size-6">Fiix’s equipment maintenance app truly allows you to be on-the-go with your
                        maintenance operations. Our mobile app, available on iPhone and Android, makes everything you
                        need to get the job done just a tap away, including work order notifications, asset lists, QR
                        code scanning and more. Features like offline mode and easier work order management put
                        everything you need at your fingertips—wherever work takes you. That means anytime, anywhere
                        access to machine maintenance software on any mobile device, so you can work without
                        limitations.</p>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered is-variable is-6">

                <div class="column is-4">
                    <h2 class="title is-6">Up and running in minutes with cloud maintenance software</h2>
                    <p class="is-size-6">The cloud is a breath of fresh air from outdated, complicated, and expensive
                        equipment maintenance software. A cloud solution lets you run machine maintenance and asset
                        management software securely over the internet without having to buy, install or manage any
                        hardware. Just open your browser or our equipment maintenance app, log in, and start using your
                        factory maintenance software immediately. There are no complicated, costly upgrades to worry
                        about either. We provide automatic, free upgrades, so your machine maintenance software is
                        always up to date and requires no work on your part.</p>
                </div>


                <div class="column is-4">
                    <h2 class="title is-6">A flexible subscription model</h2>
                    <p class="is-size-6">When it comes to our pricing, what you see is what you actually pay. There are
                        no hidden fees and no surprises. Our subscription-based model provides plenty of flexibility for
                        businesses of any size, including the ability to add or remove users whenever you want and the
                        power to instantly access enterprise-grade maintenance software anytime, anywhere from the
                        cloud. No matter what your organization’s goals are, our pricing structure gives you the room to
                        achieve them, and then some.</p>
                </div>

            </div>
            <br>
            <div class="has-text-centered">
                <a href="" class="button is-info is-size-4 is-outlined">Back to the industry solutions page</a>
            </div>

        </div>
    </div>
</section>

