body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
  
}

.features_hover_row .wpb_raw_html {
  max-width: 1600px;
  width: 90%;
  position: relative;
  margin-right: 0;
  margin-left: auto;
  right: 0;
}

/* tricky section full of css and javascript */
.features_hover_content_image {
  display: inline-block;
  width: 100%;
  text-align: left;
  background-image: url('../images/features_hover_chooser_2.png');
  background-repeat: no-repeat;
  background-position: 120px top;
  background-size: auto 100%;
  float: right;
  min-height: 700px;
}
.features_hover_content_container {
  width: 100%;
  display: inline-block;
  text-align: left;
  margin-right: 3%;
}

.features_hover_content_triggers img {
  height: 90px;
  width: 100px;
  padding: 10px;
  border-radius: 50%;
  animation: 2.2s ease-in-out infinite;
  animation-delay: .578s;
  animation-name: pulse-line;
}
.features_hover_content_triggers {
  display: inline-block;
  width: 90px;
}

.features_hover_content_triggers img:hover {
  background-color: #ececec;
}

.notification {
  border-radius: 0px !important;
  height: 17rem;

}

.features_hover_content_container > div {
  height: 100px;
  background: url('../images/double_arrows_left.png') no-repeat right 51px;
  padding-right: 80px;
}


.feature_hover_content_1 {
  margin-left: 1em;
}

.feature_hover_content_2 {
  top: 100px;
  position: relative;
  margin-left: 1em;
}

.feature_hover_content_3 {
  top: 200px;
  position: relative;
  margin-left: 1em;
}

.feature_hover_content_4 {
  top: 320px;
  position: relative;
  margin-left: 1em;
}

.feature_hover_content_5 {
  top: 420px;
  position: relative;
  margin-left: 1em;
}



.wpb_text_column {
  background-image: url('../images/hex_pattern.png');
  padding: 100px 10% 120px;
  margin-bottom: 0!important;
}


.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

header.masthead {
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #081000;
    opacity: 0.5;
  }
  
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
      padding: 200px 0;
    }
  }
  
  header.masthead .page-heading,
  header.masthead .site-heading {
    text-align: center;
  }
  
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
  }
  
  header.masthead .page-heading .subheading,
  header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
      font-size: 80px;
    }
  }
  
  header.masthead .post-heading h1 {
    font-size: 35px;
  }
  
  header.masthead .post-heading .meta,
  header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block;
  }
  
  header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lora', 'Times New Roman', serif;
  }
  
  header.masthead .post-heading .meta a {
    color: #fff;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
      font-size: 55px;
    }
    header.masthead .post-heading .subheading {
      font-size: 30px;
    }
  }


  .navbar-item img {
    max-height: 5rem;
  }
  

  .moveDown {
    padding-top: 20%;
  }

  
.feature_phone {
    /* float: left;
    width: 268px; */
    background: url(../images/feature_android.png) no-repeat;
    height: 532px;
    position: relative;
}

.borderShadow {
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,0.16);
}


.hvr-grow {
  /* display: inline-block; */
  vertical-align: middle;
  transform: translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.05);
}

