body {
  /* font-family: "Open Sans", Arial, Helvetica, sans-serif !important; */
  -webkit-font-smoothing: antialiased;
  
}

.features_hover_row .wpb_raw_html {
  max-width: 1600px;
  width: 90%;
  position: relative;
  margin-right: 0;
  margin-left: auto;
  right: 0;
}

/* tricky section full of css and javascript */
.features_hover_content_image {
  display: inline-block;
  width: 100%;
  text-align: left;
  background-image: url('../images/features_hover_chooser_2.png');
  background-repeat: no-repeat;
  background-position: 120px top;
  background-size: auto 100%;
  float: right;
  min-height: 700px;
}
.features_hover_content_container {
  width: 100%;
  display: inline-block;
  text-align: left;
  margin-right: 3%;
}

.features_hover_content_triggers img {
  height: 90px;
  width: 100px;
  padding: 10px;
  border-radius: 50%;
  animation: 2.2s ease-in-out infinite;
  animation-delay: .578s;
  animation-name: pulse-line;
}
.features_hover_content_triggers {
  display: inline-block;
  width: 90px;
}

.features_hover_content_triggers img:hover {
  background-color: #ececec;
}

.notification {
  border-radius: 0px !important;
  min-height: 18rem;
  max-height: 25rem;

}

.features_hover_content_container > div {
  height: 100px;
  background: url('../images/double_arrows_left.png') no-repeat right 51px;
  padding-right: 80px;
}


.feature_hover_content_1 {
  margin-left: 1em;
}

.feature_hover_content_2 {
  top: 100px;
  position: relative;
  margin-left: 1em;
}

.feature_hover_content_3 {
  top: 200px;
  position: relative;
  margin-left: 1em;
}

.feature_hover_content_4 {
  top: 320px;
  position: relative;
  margin-left: 1em;
}

.feature_hover_content_5 {
  top: 420px;
  position: relative;
  margin-left: 1em;
}



.wpb_text_column {
  background-image: url('../images/hex_pattern.png');
  margin-bottom: 0!important;
}

.wpb_hex_column {
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 0;
  background: url('../images/hexagon_grey60.png');
}

.wpb_hex_column2 {
  width: 100%;
  display: block;
  margin-bottom: 0;
  background: url('../images/hexagon_grey60.png');
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

header.masthead {
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #081000;
    opacity: 0.5;
  }
  
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
      padding: 200px 0;
    }
  }
  
  header.masthead .page-heading,
  header.masthead .site-heading {
    text-align: center;
  }
  
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
  }
  
  header.masthead .page-heading .subheading,
  header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
      font-size: 80px;
    }
  }
  
  header.masthead .post-heading h1 {
    font-size: 35px;
  }
  
  header.masthead .post-heading .meta,
  header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block;
  }
  
  header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lora', 'Times New Roman', serif;
  }
  
  header.masthead .post-heading .meta a {
    color: #fff;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
      font-size: 55px;
    }
    header.masthead .post-heading .subheading {
      font-size: 30px;
    }
  }


  .navbar-item img {
    max-height: 55px;
    margin-left: 55px;
  }
  

  .moveDown {
    padding-top: 20%;
  }

  
.feature_phone {
    /* float: left;
    width: 268px; */
    background: url(../images/feature_android.png) no-repeat;
    height: 532px;
    position: relative;
}

.borderShadow {
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,0.16);
  -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -ms-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
}


.hvr-grow {
  /* display: inline-block; */
  vertical-align: middle;
  transform: translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.05);
}


.biggerBlock {
  vertical-align: middle;
  transform: scale(1.05);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-property: transform;
}

.pricingBox {
  background: #fff;
  min-height: 27rem;
  max-height: 35rem;
  position: relative;
  /* padding-bottom: 122px; */
  padding: 22px;
}

.navbar.is-info .navbar-brand .navbar-link.is-active, .navbar.is-info .navbar-brand .navbar-link:hover, .navbar.is-info .navbar-brand>a.navbar-item.is-active, .navbar.is-info .navbar-brand>a.navbar-item:hover {
  background-color: #118fe400;
  color: #fff;
}

.navbar.is-info .navbar-item.has-dropdown.is-active .navbar-link, .navbar.is-info .navbar-item.has-dropdown:hover .navbar-link {
  background-color: #00afff00;
  color: #fff;
  text-decoration: underline;
}

@media screen and (min-width: 1088px){
.navbar.is-info .navbar-end .navbar-link.is-active, .navbar.is-info .navbar-end .navbar-link:hover, .navbar.is-info .navbar-end>a.navbar-item.is-active, .navbar.is-info .navbar-end>a.navbar-item:hover, .navbar.is-info .navbar-start .navbar-link.is-active, .navbar.is-info .navbar-start .navbar-link:hover, .navbar.is-info .navbar-start>a.navbar-item.is-active, .navbar.is-info .navbar-start>a.navbar-item:hover {
    background-color: #0098ff00;
    color: #fff;
    text-decoration: underline;
}
}


@media screen and (min-width: 1088px){
.navbar-dropdown {
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10,10,10,.1);
    display: none;
    font-size: .875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
    margin-top: -20px;

}
}

.backImg {
  height: 700px!important;
  display: block;
  background-position: center center;

}

.sectionText {
  margin-top: 200px;
  padding: 20px;
  margin-left: 21px;
  margin-right: 32px;
}

@media screen and (max-width: 1088px){
  .sectionText {
margin-top: 1px;

  }
  }
  


.responsiveBackground {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.responsiveBg {
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.moveBlock {
  padding-left: 50px;
  padding-right: 50px;
}


.transNav {
  background-color: transparent;
  color: #123456;
}


body.has-navbar-fixed-top, html.has-navbar-fixed-top {
  padding-top: 0;
}

a.has-text-white:focus, a.has-text-white:hover, a.has-text-white:active {
  color: #616161!important;
}

.fiixBlue {
background: #0097dc;
  background: -moz-linear-gradient(left, #1e68bc 0%, #3498db 100%);
  background: -webkit-linear-gradient(left, #1e68bc 0%, #3498db 100%);
  background: linear-gradient(to right, #1e68bc 0%, #3498db 100%); 
  background: -webkit-linear-gradient(top, #1e68bc 4%, #3498db 100%);
}


.fiixGrad {
  background: #3069b3;
  background: -moz-linear-gradient(left,#3069b3 0%,#00afeb 100%);
  background: -webkit-linear-gradient(left,#3069b3 0%,#00afeb 100%);
  background: linear-gradient(to right,#3069b3 0%,#00afeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3069b3',endColorstr='#00afeb',GradientType=1);
}


.coverImg {
  max-width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: -60px;
  /* z-index: 500; */
  top: -52px;
}

.reallyBigText {
  font-size: 70px;
  line-height: 78px;
}




.floatIphone {
  right: 300px;
  top: 250px;
  position: absolute;
  top: 18em;
  right: 0;
  width: 475px;
  -moz-transition: all 1s ease-in-out, left 1.5s ease-in-out;
  -webkit-transition: all 1s ease-in-out, left 1.5s ease-in-out;
  -moz-transition: all 1s ease-in-out, left 1.5s ease-in-out;
  -o-transition: all 1s ease-in-out, left 1.5s ease-in-out;
  transition: all 1s ease-in-out, left 1.5s ease-in-out;
}

.floatAndroid {
  /* right: -14em; */
  position: absolute;
  top: -12em;
  right: -17em;
  width: 475px;
  -moz-transition: all 1s ease-in-out, left 1.5s ease-in-out;
  -webkit-transition: all 1s ease-in-out, left 1.5s ease-in-out;
  -moz-transition: all 1s ease-in-out, left 1.5s ease-in-out;
  -o-transition: all 1s ease-in-out, left 1.5s ease-in-out;
  transition: all 1s ease-in-out, left 1.5s ease-in-out;
}

.faqCardHeader {
  background-color: #EBECEF!important;
}


.industryHeader {
    background: url('../images/Repeat-pattern-hexacubes-DkBlue.png') repeat top left,-webkit-gradient(linear, 0% 0%, 0% 100%, from(#3498db), to(#1e68bc));
    background: url('../images/Repeat-pattern-hexacubes-DkBlue.png') repeat top left,-webkit-linear-gradient(to bottom, #3498db 0%, #1e68bc 100%);
    background: url('../images/Repeat-pattern-hexacubes-DkBlue.png') repeat top left,-o-linear-gradient(to bottom, #3498db 0%, #1e68bc 100%);
    background: url('../images/Repeat-pattern-hexacubes-DkBlue.png') repeat top left,-ms-linear-gradient(to bottom, #3498db 0%, #1e68bc 100%);
    background: url('../images/Repeat-pattern-hexacubes-DkBlue.png') repeat top left,linear-gradient(to bottom, #3498db 0%, #1e68bc 100%);
}


.fiixDark {
  background: #58595b;
  background: -moz-linear-gradient(top,#9D9FA2 0%,#393b3d 100%,#2e2c2d 100%);
  background: -webkit-linear-gradient(top,#9D9FA2 0%,#393b3d 100%,#2e2c2d 100%);
  background: linear-gradient(to bottom,#9D9FA2 0%,#393b3d 100%,#2e2c2d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#58595b',endColorstr='#2e2c2d',GradientType=1);
}


.inner_header-right {
  background: url('../images/integrations_header_right.png') repeat-y right bottom;
  width: 100%;

  display: block;
}



.inner_header-left {
  width: 100%;

  display: block;

  background: url('../images/integrations_header_left.png') repeat-y left bottom;
}

.cloudHeader {
  background: url('../images/hexagon_grey60.png');
  background: #58595b;
  background: -moz-linear-gradient(top,#9D9FA2 0%,#393b3d 100%,#2e2c2d 100%);
  background: -webkit-linear-gradient(top,#9D9FA2 0%,#393b3d 100%,#2e2c2d 100%);
  background: linear-gradient(to bottom,#9D9FA2 0%,#393b3d 100%,#2e2c2d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#58595b',endColorstr='#2e2c2d',GradientType=1);
}

.bigLaptop2{
  position: absolute;
  width: 874px;
  right: -60px;
  bottom: -132px;

}

.aboutHeader {
  background: url('../images/header_pattern.png') no-repeat 0 0, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0097dc), to(#14499a));
  background: url('../images/header_pattern.png') no-repeat 0 0, -webkit-linear-gradient(to right, #0097dc 0%, #14499a 100%);
  background: url('../images/header_pattern.png') no-repeat 0 0, -o-linear-gradient(to right, #0097dc 0%, #14499a 100%);
  background: url('../images/header_pattern.png') no-repeat 0 0, -ms-linear-gradient(to right, #0097dc 0%, #14499a 100%);
  background: url('../images/header_pattern.png') no-repeat 0 0, linear-gradient(to right, #0097dc 0%, #14499a 100%);
  background-size: 15%, cover;
}



.download_now {
  background: url('../images/icons.png') no-repeat top left, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1e68bc), to(#3498db));
  background: url('../images/icons.png') no-repeat top left, -webkit-linear-gradient(to right, #1e68bc 0%, #3498db 100%);
  background: url('../images/icons.png') no-repeat top left, -o-linear-gradient(to right, #1e68bc 0%, #3498db 100%);
  background: url('../images/icons.png') no-repeat top left, -ms-linear-gradient(to right, #1e68bc 0%, #3498db 100%);
  background: url('../images/icons.png') no-repeat top left, linear-gradient(to right, #1e68bc 0%, #3498db 100%);
  /* position: relative; */
}

.extraPadding {
  padding-top: 3em;
  padding-bottom: 12em;
}


.bigImg {
  cursor: pointer;
}

