---
layout: default
---

<section class="hero is-info wpb_hex_column">


    <div class="hero-body">
        <div class="container">
            <div>
                <h1 class="subtitle has-text-centered is-1">The go-to cloud maintenance software</h1>
                <h2 class="has-text-centered subtitle is-5">Loved by maintenance teams, trusted by IT.</h2>

                <div>
                    <a class="button is-success is-size-4" href="/cmms/product-demo">Get started with a free tour</a>
                </div>
                <br>
            </div>

        </div>

</section>

<section class="hero">
    <div class="hero-body">
        <div class="container">

            <div class="has-text-centered">
                <img class="lazyload" data-src="{{ 'assets/images/cloud.png' | prepend: site.baseurl }}" alt="cloud">
            </div>

            <div class="has-text-centered">
                <h1 class="subtitle is-2 has-text-centered">What’s so great about maintenance software on the cloud?
                </h1>
                <p class="has-text-centered is-size-5">
                    Fiix lets you securely run maintenance and asset management software over the Internet without
                    having to buy, install, or manage any hardware. Just open your web browser, log in, and start
                    working today.
                </p>
                <br>
                <img style="width: 50%" class="lazyload"
                    data-src="{{ 'assets/images/preview-full-cloud-1.png' | prepend: site.baseurl }}" alt="cloud">
            </div>


            <div class="columns">

                <div class="column is-3 has-text-centered">
                    <img style="width: 50%" class="lazyload"
                        data-src="{{ 'assets/images/piggybank.png' | prepend: site.baseurl }}" alt="cloud">
                    <h2 class="subtitle is-4">Fits any budget</h2>
                    <p class="is-size-6">There’s no upfront investment in licenses or hardware. You pay a simple
                        subscription fee that you can cancel at any time.</p>

                </div>
                <div class="column is-3 has-text-centered">
                    <img style="width: 50%" class="lazyload"
                        data-src="{{ 'assets/images/mobile.png' | prepend: site.baseurl }}" alt="cloud">

                    <h2 class="subtitle is-4">Mobile like you</h2>
                    <p class="is-size-6">Anytime, anywhere access on any mobile device. Whether that’s your favourite
                        smartphone or tablet we’ve got you covered.</p>

                </div>
                <div class="column is-3 has-text-centered">
                    <img style="width: 50%" class="lazyload"
                        data-src="{{ 'assets/images/lock.png' | prepend: site.baseurl }}" alt="cloud">
                    <h2 class="subtitle is-4">Secure as a vault</h2>
                    <p class="is-size-6">From our secure, distributed infrastructure, to our admin tools, our extensive
                        layers of security keep your company’s data secure.</p>

                </div>
                <div class="column is-3 has-text-centered">
                    <img style="width: 50%" class="lazyload"
                        data-src="{{ 'assets/images/upload.png' | prepend: site.baseurl }}" alt="cloud">
                    <h2 class="subtitle is-4">Fits any budget</h2>
                    <p class="is-size-6">Software upgrades can be complicated, costly, and risky. Our cloud
                        automatically upgrades your software for free every week.</p>

                </div>

            </div>



        </div>
    </div>
</section>


{% include kick_tires.html %}


{% include footer.html %}