---
layout: default
title: "Features | Fiix"
---

<section class="hero is-link is-medium fiixGrad">
    <div class="hero-body is-medium">

        <div class="container">
            <br>
            <br>
            <div class="columns is-centered">
                <div class="column is-6">

                    <div style="margin-top: 80px;" class="is-hidden-desktop"></div>
                    <h1 class="title is-1 is-size-3-mobile has-text-weight-light">
                        Get under the hood of Fiix
                    </h1>
                    <br>
                    <h2 class="subtitle is-4 has-text-weight-light">Loaded with features. Easy to use.</h2>
                    <div>
                        <a class="button is-size-4 is-size-6-mobile is-success" href="/cmms/product-demo">
                            Get started with a free tour</a>
                    </div>
                </div>
                <div class="column is-6 has-text-centered is-hidden-mobile">
                    <img class="mainImg lazyload is-hidden-mobile bigLaptop2 "
                        data-src="{{ 'assets/images/feature_revisted.png' | prepend: site.baseurl }}" />
                </div>
            </div>
        </div>
    </div>
</section>


<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                CMMS features designed for organizing, scheduling, and collaborating.
            </h1>
            <h2 class="subtitle has-text-centered">
                Built for your maintenance projects, your workflows, your goals, your team.
            </h2>
            <div class="has-text-centered">
                <img class="lazyload"
                    data-src="{{ 'assets/images/innovator_award_greyscale.png' | prepend: site.baseurl }}" />
            </div>
        </div>
    </div>
</section>

<section id="assets" class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6 is-hidden-desktop">
                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/features_device.jpg' | prepend: site.baseurl }}" />
                </div>
                <div class="column is-6">
                    <div class="moveDown">

                        <h1 class="title is-3">Fully customizable, interactive dashboard</h1>


                        <p class="is-size-5 has-text-justified">With the Fiix dashboard, we sort through all the data
                            for
                            you, giving you instant access to the information you need to improve performance. Whether
                            it’s
                            understanding your overdue work orders, low stock items, work requests, or even your
                            mean-time-to-repair, we’ve got you covered.</p>


                    </div>
                </div>
                <div class="column is-6 is-hidden-mobile">
                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/features_device.jpg' | prepend: site.baseurl }}"
                        data-screenshot="https://www.fiixsoftware.com/wp-content/uploads/2017/07/2017dashboard-1.png" />
                </div>
            </div>

        </div>
    </div>
    </div>
</section>
<hr>

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">

                    <img class="lazyload bigImg " data-src="{{ 'assets/images/desktop.jpg' | prepend: site.baseurl }}"
                        data-screenshot="https://www.fiixsoftware.com/wp-content/uploads/2015/06/Fiix_cmms_asset_management.jpg" />

                </div>
                <div class="column is-6">
                    <div class="moveDown">
                        <h1 class="title is-3">Easily import assets</h1>


                        <p class="is-size-5 has-text-justified">Easily import your existing assets and maintenance data
                            from
                            CSV or Excel to seamlessly migrate from other maintenance and asset management software
                            systems.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>

<hr>

<section id="workorders" class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6 is-hidden-desktop">
                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/work_orders_new.jpg' | prepend: site.baseurl }}" />
                </div>
                <div class="column is-6">

                    <div class="moveDown">
                        <h1 class="title is-3">Simplified work orders</h1>


                        <p class="is-size-5 has-text-justified">Easily create, assign, and manage unlimited work orders
                            from
                            your mobile device, tablet, or desktop computer. See who’s working on what, and get
                            notifications when the work is complete.</p>
                    </div>
                </div>
                <div class="column is-6 is-hidden-mobile">
                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/work_orders_new.jpg' | prepend: site.baseurl }}"
                        data-screenshot="https://www.fiixsoftware.com/wp-content/uploads/2015/06/Fiix_cmms_work_orders.jpg" />
                </div>
            </div>


        </div>
    </div>

</section>

<hr>

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">

                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/fiix-calendar.jpg' | prepend: site.baseurl }}" data-screenshot="https://www.fiixsoftware.com/wp-content/uploads/2016/12/new-calendar-scheduler.png" />

                </div>
                <div class="column is-6">
                    <div class="moveDown">
                        <h1 class="title is-3">Drag and drop calendar</h1>


                        <p class="is-size-5 has-text-justified">View, assign, and balance technicians’ assignments and
                            priorities with the drag and drop calendar. The calendar gives you a full overview of what
                            maintenance is done by who, when, and what its status is.</p>

                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>
</section>

<hr>


<section id="auto" class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6 is-hidden-desktop">
                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/Fiix_cmms_scheduled_device.jpg' | prepend: site.baseurl }}" />
                </div>
                <div class="column is-6">

                    <div class="moveDown">
                        <h1 class="title is-3">Automated scheduled maintenance</h1>


                        <p class="is-size-5 has-text-justified">Create preventive and scheduled maintenance work orders
                            and automatically generate those work orders based on date, time, event, alarms, or meter
                            readings.</p>
                    </div>
                </div>
                <div class="column is-6 is-hidden-mobile">
                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/Fiix_cmms_scheduled_device.jpg' | prepend: site.baseurl }}"
                        data-screenshot="https://www.fiixsoftware.com/wp-content/uploads/2015/06/Fiix_cmms_scheduled_maintenace.jpg" />
                </div>
            </div>


        </div>
    </div>

</section>


<hr>

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">

                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/Fiix_cmms_parts_assets_device.jpg' | prepend: site.baseurl }}"
                        data-screenshot="https://www.fiixsoftware.com/wp-content/uploads/2015/06/Fiix_cmms_parts_assets-1.jpg" />

                </div>
                <div class="column is-6">
                    <div class="moveDown">
                        <h1 class="title is-3">Parts and supplies tracking</h1>


                        <p class="is-size-5 has-text-justified">Get better control over inventory. Track parts and
                            supplies, optimize inventory levels, or manage inventory at multiple locations through a
                            single, integrated maintenance and asset management system.</p>

                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>
</section>

<hr>

<section id="mobile" class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">

                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/Mobile-Video-Screenshot-Video.png' | prepend: site.baseurl }}"
                    />

                </div>
                <div class="column is-6">
                    <div class="moveDown">
                        <h1 class="title is-3">Mobilize like never before</h1>


                        <p class="is-size-5 has-text-justified">The new Fiix mobile CMMS software app lets you be truly
                            mobile with your maintenance operations. New features like offline mode and easier work
                            order management put everything you need at your fingertips—wherever work takes you.
                            Download today and see for yourself what it’s like to work without limitations.</p>

                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>
</section>


<hr>

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6 is-hidden-desktop">
                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/Fiix_cmms_guest_requestor_device.jpg' | prepend: site.baseurl }}" />
                </div>
                <div class="column is-6">

                    <div class="moveDown">
                        <h1 class="title is-3">Unlimited service requests</h1>


                        <p class="is-size-5 has-text-justified">Guests can make service or work requests for
                            maintenance, get notifications, and notify any named user of a work order status, all
                            without logging in to the CMMS.</p>
                    </div>
                </div>
                <div class="column is-6 is-hidden-mobile">
                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/Fiix_cmms_guest_requestor_device.jpg' | prepend: site.baseurl }}"
                        data-screenshot="https://www.fiixsoftware.com/wp-content/uploads/2015/06/Fiix_cmms_guest_requestors.jpg" />
                </div>
            </div>


        </div>
    </div>

</section>


<hr>


<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">

                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/Fiix_cmms_purchase_device.jpg' | prepend: site.baseurl }}"
                        data-screenshot="https://www.fiixsoftware.com/wp-content/uploads/2015/06/Fiix_cmms_purchase-1.jpg" />

                </div>
                <div class="column is-6">
                    <div class="moveDown">
                        <h1 class="title is-3">Purchase orders</h1>


                        <p class="is-size-5 has-text-justified">Use your CMMS to track parts from request and purchase,
                            to receipt and use. Start building user-defined purchasing workflows that match your
                            company’s processes. Or, easily create purchase requests, check inventory levels, or
                            purchase parts directly with our built-in parts and supplies sourcing tool.</p>

                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>
</section>


<hr>

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6 is-hidden-desktop">
                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/features_reports.jpg' | prepend: site.baseurl }}" />
                </div>
                <div class="column is-6">

                    <div class="moveDown">
                        <h1 class="title is-3">Easily build, slice, and dice reports</h1>


                        <p class="is-size-5 has-text-justified">Forget the coin toss and start making insightful
                            decisions today. Our solution puts powerful data at your fingertips with over 100 pre-built
                            professional reports. Schedule regular reports and automatically email them to managers, use
                            the dashboard to see KPIs, or create your own customizable reports from over 50 editable
                            templates with our custom report builder.</p>
                    </div>
                </div>
                <div class="column is-6 is-hidden-mobile">
                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/features_reports.jpg' | prepend: site.baseurl }}"
                        data-screenshot="https://www.fiixsoftware.com/wp-content/uploads/2015/06/Fiix_cmms_reports.jpg" />
                </div>
            </div>


        </div>
    </div>

</section>

<hr>


<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">

                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/multi-site-desktop-2.jpg' | prepend: site.baseurl }}"
                        data-screenshot="https://www.fiixsoftware.com/wp-content/uploads/2015/06/multi-site.jpg" />

                </div>
                <div class="column is-6">
                    <div class="moveDown">
                        <h1 class="title is-3">Manage multiple sites with one tools</h1>


                        <p class="is-size-5 has-text-justified">With our advanced multi-site capabilities you can manage
                            any number of sites anywhere in the world in any time zone or currency. Assign site-specific
                            permissions to your personnel and attach them to the administrator group in one site or the
                            technician group in another. All sites get rolled-up and displayed in real time so you can
                            create detailed reports of all your maintenance activities with just a few clicks.</p>

                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>
</section>

<hr>

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6 is-hidden-desktop">
                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/fiix_cmms_nested_pm_device-1.jpg' | prepend: site.baseurl }}" />
                </div>
                <div class="column is-6">
                    <div class="moveDown">
                        <h1 class="title is-3">Nest your PMs for better maintenance management</h1>


                        <p class="is-size-5 has-text-justified">Nest your preventive maintenance schedules inside each
                            other to stack PM tasks on meter, time or event-triggered scheduled maintenance work orders.
                        </p>
                    </div>
                </div>
                <div class="column is-6 is-hidden-mobile">
                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/fiix_cmms_nested_pm_device-1.jpg' | prepend: site.baseurl }}"
                        data-screenshot="https://www.fiixsoftware.com/wp-content/uploads/2015/06/Fiix_cmms_nested_PM-1-1.jpg" />
                </div>
            </div>


        </div>
    </div>

</section>

<hr>

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">

                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/fiix_cmms_rotate_device.jpg' | prepend: site.baseurl }}"
                        data-screenshot="https://www.fiixsoftware.com/wp-content/uploads/2015/06/Fiix_cmms_rotate-1.jpg" />

                </div>
                <div class="column is-6">
                    <div class="moveDown">
                        <h1 class="title is-3">Manage moving rotating assets</h1>


                        <p class="is-size-5 has-text-justified">Keep track of all the moving parts. Manage rotating
                            assets and rebuilds as they move between people, work orders, sites, and your external
                            contractors’ and suppliers’ shops.</p>

                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>
</section>




<section class="hero is-info is-bold">
    <div class="hero-body wpb_text_column">
        <div class="container">
            <h1 class="title is-2 has-text-centered">
                Flexibility to connect to other software
            </h1>
            <br>
            <h2 class="subtitle is-4 has-text-centered">
                Connect directly to machines to read their critical sensor data, trigger maintenance from equipment
                alarm states, extend equipment monitoring and analytics systems, or connect to other enterprise software
                through our pre-built connectors and API. Extend the power of our platform today by easily pulling and
                pushing data to and from your CMMS over rich and secure protocols.
            </h2>

            <div class="columns is-centered">
                <div class="column is-4 has-text-centered">
                    <a class="button is-fullwidth is-size-6 is-size-7-mobile" href="/integrations">Learn more about how
                        to integrate
                        with Fiix</a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6 is-hidden-desktop">
                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/Fiix_cmms_customizable-copy.png' | prepend: site.baseurl }}"
                    />
                </div>
                <div class="column is-6">

                    <div class="moveDown">
                        <h1 class="title is-3">Completely customizable</h1>


                        <p class="is-size-5 has-text-justified">Transform your CMMS to match your workflows. Customize
                            the appearance of work order forms with drag and drop functionality, add custom fields,
                            rename or translate field labels, build custom drop down field options, or turn features on
                            or off to make your CMMS as easy or as sophisticated as needed. Have another custom feature
                            in mind? Learn more about how we can build custom features in weeks.
                        </p>
                    </div>
                </div>
                <div class="column is-6 is-hidden-mobile">
                    <img class="lazyload bigImg"
                        data-src="{{ 'assets/images/Fiix_cmms_customizable-copy.png' | prepend: site.baseurl }}" />
                </div>
            </div>


        </div>
    </div>

</section>



<div class="imgModal modal">
    <div class="modal-background"></div>
    <div class="modal-content">

        <img class="dynaImg" src="" alt="">

    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

{% include kick_tires.html %}


{% include footer.html %}