---
layout: default
title: "Pricing | Fiix"
---



<section class="hero is-link is-bold">
    {% include navbar.html %}

    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <br>
                    <h1 class="subtitle is-2 is-size-3-mobile has-text-centered">
                        Easily organize, track, and schedule maintenance
                    </h1>

                    <br>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="section">

    <div class="container">
        <div class="columns is-centered">

            <div class="column is-3">

                <div class="pricingBox has-text-centered borderShadow ">

                    <h1 class="title is-3 has-text-link">Performance</h1>
                    <p class="is-size-7">Total productive maintenance solution for large organizations. Extend
                        maintenance management software to more teams, more users.</p>
                    <br>
                    <br>

                    <h2 class="title is-3 has-text-link">Custom pricing</h2>
                    <p class="help has-text-weight-bold">Schedule a custom demo today</p>
                    <br>
                    <a class="button is-success is-fullwidth">Learn More</a>
                    <br>
                    <a class="help has-text-weight-bold" href=""><u>Available on all tiers</u></a>
                </div>

            </div>

            <div class="column is-3">

                <div class="pricingBox has-text-centered borderShadow ">

                    <h1 class="title is-3 has-text-info">Enterprise</h1>
                    <p class="is-size-7">Advanced features for advanced organizations. Deeply integrated and
                        customizable maintenance solution.</p>
                    <br>
                    <br>

                    <h2 class="title is-3 has-text-info">Custom pricing</h2>
                    <p class="help has-text-weight-bold">Schedule a custom demo today</p>
                    <br>
                    <a href="mailto:info@fiixsoftware.co.za?cc=&amp;bcc=&amp;subject=Enquiry&amp;body=Thank%20you%20for%20your%20interest%20in%20Fiix%20Software.%20Send%20us%20your%20details%20and%20we'll%20get%20back%20to%20you%20with%20the%20best%20maintenance%20solution." class="button is-success is-fullwidth">Learn More</a>
                    <br>
                    <a class="help has-text-weight-bold" href=""><u>Available on all tiers</u></a>
                </div>

            </div>

            <div class="column is-3">

                <div class="pricingBox has-text-centered borderShadow biggerBlock">

                    <h1 class="title is-3 has-text-link">Professional
                    </h1>
                    <p class="is-size-7">More power and sophistication. Complete maintenance management software for any
                        business.</p>
                    <br>
                    <p class="has-text-weight-bold is-size-7">PER USER</p>

                    <h2 class="title is-3 has-text-link">R900 / month</h2>
                    <p class="help has-text-weight-bold">1 month free with annual billing</p>
                    <br>
                    <a class="button is-success is-fullwidth">Learn More</a>
                    <br>
                    <a class="help has-text-weight-bold" href=""><u>Available on all tiers</u></a>
                </div>



            </div>


            <div class="column is-3">

                <div class="pricingBox has-text-centered borderShadow">

                    <h1 class="title is-3 has-text-dark">Basic</h1>
                    <p class="is-size-7">Get to know Fiix. Basic maintenance management software for a small business.
                    </p>
                    <br>
                    <br>

                    <p class="has-text-weight-bold is-size-7">PER USER</p>

                    <h2 class="title is-3 has-text-dark">R600 / month</h2>
                    <p class="help has-text-weight-bold">Schedule a custom demo today</p>
                    <br>
                    <a class="button is-success is-fullwidth">Learn More</a>
                    <br>
                    <a class="help has-text-weight-bold" href=""><u>Available on all tiers</u></a>
                </div>

            </div>

        </div>
    </div>

</section>



<section class="section">


    <h1 class="subtitle is-2 has-text-centered">All plans include</h1>
    <br>

    <div class="container">

        <div class="columns is-multiline">

            <div class="column is-half">

                <div class="columns is-gapless">
                    <div class="column is-3">
                        <span><img style="width: 50%" class="lazyload"
                                data-src="{{ 'assets/images/asset_management.jpg' | prepend: site.baseurl }}"
                                alt=""></span>

                    </div>
                    <div class="column">
                        <p class="subtitle is-4 ">Asset management</p>
                        <p class="is-size-6">
                            Drag and drop functionality lets you quickly add equipment, clone records, and intuitively
                            organize assets. Import existing assets from CSV or Excel to easily migrate from other
                            systems.

                        </p>
                        <br>
                    </div>
                </div>

            </div>


            <div class="column is-half">

                <div class="columns is-gapless">
                    <div class="column is-3">
                        <span><img style="width: 50%" class="lazyload"
                                data-src="{{ 'assets/images/work_orders.jpg' | prepend: site.baseurl }}" alt=""></span>

                    </div>
                    <div class="column">
                        <p class="subtitle is-4 ">Work orders</p>
                        <p class="is-size-6">
                            Easy to understand and quick to complete work orders. Includes work instructions, task
                            lists, notes, files, and print to paper options.

                        </p>
                        <br>
                    </div>
                </div>

            </div>


            <div class="column is-half">

                <div class="columns is-gapless">
                    <div class="column is-3">
                        <span><img style="width: 50%" class="lazyload"
                                data-src="{{ 'assets/images/preventative_maint.jpg' | prepend: site.baseurl }}"
                                alt=""></span>

                    </div>
                    <div class="column">
                        <p class="subtitle is-4 ">Preventive maintenance</p>
                        <p class="is-size-6">
                            PMs and scheduled maintenance with date and time triggers. Complete with meter readings,
                            event or alarm triggers, integrated work task creation, and notifications.

                        </p>
                        <br>
                    </div>
                </div>

            </div>


            <div class="column is-half">

                <div class="columns is-gapless">
                    <div class="column is-3">
                        <span><img style="width: 50%" class="lazyload"
                                data-src="{{ 'assets/images/mobile_app.jpg' | prepend: site.baseurl }}" alt=""></span>

                    </div>
                    <div class="column">
                        <p class="subtitle is-4 ">Mobile app</p>
                        <p class="is-size-6">
                            Download our free iOS and Android mobile apps for your tablet or smartphone to access or
                            enter data from the field as you work.

                        </p>
                        <br>
                    </div>
                </div>

            </div>




        </div>


        <hr>

    </div>



</section>



<section class="section container is-hidden-mobile">

    <h2 class="subtitle is-2 has-text-centered">Compare plan features</h2>

    <br>
    <br>




    <div class="pricing-table">
        <div class="pricing-plan">
            <div class="plan-header is-size-4">Standard Features</div>

            <div class="plan-items">
                <div class="plan-item">Work order</div>
                <div class="plan-item">Asset management</div>
                <div class="plan-item">Preventive maintenance</div>
                <div class="plan-item">Mobile app</div>
                <div class="plan-item">Inventory,parts and supplies</div>
                <div class="plan-item">Internal and external notifications</div>
                <div class="plan-item">Calendar</div>
                <div class="plan-item">Asset tagging and scanning</div>
                <div class="plan-item">Meter and alarm PM triggers</div>
                <div class="plan-item">MRO Marketplace</div>
                <div class="plan-item">Pass/Fail inspection tasks</div>
                <div class="plan-header">Advanced Features</div>
                <div class="plan-item">Dashboard</div>
                <div class="plan-item">Unlimited service requests</div>
                <div class="plan-item">Multi-site management</div>
                <div class="plan-item">Purchasing and RFQs</div>
                <div class="plan-item">Nested preventive maintenance</div>
                <div class="plan-item">Mutli-asset work orders and rounds</div>
                <div class="plan-item">Rotating assets</div>
                <div class="plan-item">Inventory cycle count</div>
                <div class="plan-item">Tool crib</div>
                <div class="plan-item">Failure codes</div>
                <div class="plan-header">Customization</div>
                <div class="plan-item">Custom branding</div>
                <div class="plan-item">Customizable interface</div>
                <div class="plan-item">Customizable workflows</div>
                <div class="plan-header">Reporting</div>
                <div class="plan-item">Reports and reports scheduler</div>
                <div class="plan-item">Custom report builder</div>
                <div class="plan-header">API and connectors</div>
                <div class="plan-item">ERP integrations</div>
                <div class="plan-item">Custom API integrations</div>
                <div class="plan-header">Regultory and compliance</div>
                <div class="plan-item">User certification tracking</div>
                <div class="plan-item">Audit log</div>
                <div class="plan-header">Security</div>
                <div class="plan-item">Database export</div>
                <div class="plan-item">Configurable firewall</div>
                <div class="plan-header">Support</div>
                <div class="plan-item">Embedded video tutorials</div>
                <div class="plan-item">Helpdesk access</div>
                <div class="plan-item">Technical support</div>
                <div class="plan-header">Payment</div>
                <div class="plan-item">Credit card payment option</div>
                <div class="plan-item">Annual invoicing</div>
                <div class="plan-item">User limit</div>

            </div>
            <!-- <div class="plan-footer">
              </div> -->
        </div>

        <div class="pricing-plan is-info">
            <div class="plan-header is-size-4">Enterprise</div>
            <div class="plan-items">
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-header">Advanced Features</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-header">Customization</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-header">Reporting</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-header">API and connectors</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-header">Regultory and compliance</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-header">Security</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-header">Support</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item">Email and phone support</div>
                <div class="plan-header">Payment</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item">1 user minimum</div>

            </div>
            <div class="plan-footer">
                <button class="button is-size-4 is-fullwidth">Learn more</button>
            </div>
        </div>

        <div style="border: 0.2rem solid #291bff;" class="pricing-plan is-link">
            <div class="plan-header is-size-4">Professional</div>
            <div class="plan-items">
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-header">Advanced Features</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-header">Customization</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item">-</div>
                <div class="plan-item">-</i></div>
                <div class="plan-header">Reporting</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-header">API and connectors</div>
                <div class="plan-item">-</div>
                <div class="plan-item">-</div>
                <div class="plan-header">Regultory and compliance</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item">-</div>
                <div class="plan-header">Security</div>
                <div class="plan-item">-</div>
                <div class="plan-item">-</div>
                <div class="plan-header">Support</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item">Email and phone support</div>
                <div class="plan-header">Payment</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item">1 user minimum</div>

            </div>
            <div class="plan-footer">
                    <!-- <p class="is-size-5">Most popular</p> -->
                <button class="button is-size-4 is-fullwidth">Buy now</button>
            
            </div>
        </div>

        <div class="pricing-plan is-dark">
            <div class="plan-header is-size-4">Basic</div>
            <div class="plan-items">
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-header">Advanced Features</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item">-</div>
                <div class="plan-item">-</div>
                <div class="plan-item">-</div>
                <div class="plan-item">-</div>
                <div class="plan-item">-</div>
                <div class="plan-item">-</div>
                <div class="plan-item">-</div>
                <div class="plan-item">-</div>
                <div class="plan-header">Customization</div>
                <div class="plan-item">-</div>
                <div class="plan-item">-</div>
                <div class="plan-item">-</div>
                <div class="plan-header">Reporting</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item">-</div>
                <div class="plan-header">API and connectors</div>
                <div class="plan-item">-</div>
                <div class="plan-item">-</div>
                <div class="plan-header">Regultory and compliance</div>
                <div class="plan-item">-</div>
                <div class="plan-item">-</div>
                <div class="plan-header">Security</div>
                <div class="plan-item">-</div>
                <div class="plan-item">-</div>
                <div class="plan-header">Support</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item">Email and phone support</div>
                <div class="plan-header">Payment</div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item"><i class="fas fa-check"></i></div>
                <div class="plan-item">1 user minimum</div>

            </div>
            <div class="plan-footer">
                <button class="button is-size-4 is-fullwidth">Buy now</button>
            </div>
        </div>
    </div>


</section>


<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title has-text-centered">
                Performance custom pricing for large organizations
            </h1>

            <p class="has-text-centered">Available on all pricing tiers, Performance custom pricing enables total
                productive maintenance by extending Fiix to more teams, more users, for less.</p>
            <br>
            <p class="has-text-centered">From machine operators to reliability engineers, health and safety to inventory
                managers, the Fiix Performance package lets you involve your entire workforce in maintenance, which
                means less downtime, a safer workplace, and better overall performance.</p>
            <br>
            <a class="button is-success is-size-4" href="">Learn more</a>

            <br>

        </div>
    </div>
</section>


<section class="hero is-link is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                We love helping our customers succeed
            </h1>
            <br>
            <div class="columns is-centered">

                <div class="column is-3">

                    <div class="has-text-centered">

                        <img style="height: 60px;" class="lazyload"
                            data-src="{{ 'assets/images/unlimited_support-1.png' | prepend: site.baseurl }}" alt="">

                        <h2 class="is-size-5 has-text-weight-bold">Free unlimited support</h2>
                        <p class="is-size-6">Unlimited phone and email support on all of our pricing plans.</p>
                    </div>

                </div>


                <div class="column is-3">

                    <div class="has-text-centered">

                        <img style="height: 60px;" class="lazyload"
                            data-src="{{ 'assets/images/award_winning-1.png' | prepend: site.baseurl }}" alt="">

                        <h2 class="is-size-5 has-text-weight-bold">100% customer satisfaction</h2>
                        <p class="is-size-6">Recognized for providing award-winning customer support.</p>
                    </div>

                </div>


                <div class="column is-3">

                    <div class="has-text-centered">

                        <img style="height: 60px;" class="lazyload"
                            data-src="{{ 'assets/images/uptime99-1.png' | prepend: site.baseurl }}" alt="">

                        <h2 class="is-size-5 has-text-weight-bold">Guaranteed 99.5% uptime</h2>
                        <p class="is-size-6">Guaranteed delivery of a premium solution with best-in-class latency.</p>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>


<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="subtitle is-2 has-text-centered">
                Frequently asked questions
            </h1>
            <br>
            <div class="card">
                <header style="background-color: #3273dc;" class="card-header">
                    <p class="card-header-title has-text-white">
                        Can I trial the software?
                    </p>

                </header>
                <div class="card-content">
                    <div class="content">
                        <p>Absolutely. You can test the Professional version of Fiix at your own pace through our free
                            tour or participate in one of our live product demos.</p>
                    </div>
                </div>

            </div>
            <br>
            <div class="card">
                <header style="background-color: #3273dc;" class="card-header">
                    <p class="card-header-title has-text-white">
                        What is the free tour?
                    </p>

                </header>
                <div class="card-content">
                    <div class="content">
                        <p>We’ve put together a live demo of the Professional version of Fiix so that you can take a
                            free tour on your own time. You can access it from the free tour page.</p>
                    </div>
                </div>

            </div>

            <br>
            <div class="card">
                <header style="background-color: #3273dc;" class="card-header">
                    <p class="card-header-title has-text-white">
                        Can I see a product demo?
                    </p>

                </header>
                <div class="card-content">
                    <div class="content">
                        <p>You sure can. Please contact us and we’ll arrange to show you the product at a time that
                            makes sense for you.</p>
                    </div>
                </div>

            </div>
            <br>

            <div class="card">
                <header style="background-color: #3273dc;" class="card-header">
                    <p class="card-header-title has-text-white">
                        Can I attend an online product webinar?
                    </p>

                </header>
                <div class="card-content">
                    <div class="content">
                        <p>Of course. We run free 45 minute live product demo webinars every week day at 1PM Eastern
                            Time. You can sign-up to join here. Once you’ve signed up, you’ll get an email with all the
                            details. Its a great place to get all your questions answered.</p>
                    </div>
                </div>

            </div>
            <br>
            <div class="card">
                <header style="background-color: #3273dc;" class="card-header">
                    <p class="card-header-title has-text-white">
                        How flexible are your plans?
                    </p>

                </header>
                <div class="card-content">
                    <div class="content">
                        <p>Fiix plans are subscription based. That means you have complete flexibility to chose a
                            month-to-month subscription or annual subscription plan. Feel free to contact us if you have
                            additional questions.</p>
                    </div>
                </div>

            </div>
            <br>

            <div class="card">
                <header style="background-color: #3273dc;" class="card-header">
                    <p class="card-header-title has-text-white">
                        Are there any additional setup or hardware fees?
                    </p>

                </header>
                <div class="card-content">
                    <div class="content">
                        <p>Absolutely not. The price you see is the price you pay. There are no additional setup or
                            hardware fees associated with your plan.</p>
                    </div>
                </div>

            </div>
            <br>

            <div class="card">
                <header style="background-color: #3273dc;" class="card-header">
                    <p class="card-header-title has-text-white">
                        What is a user?
                    </p>

                </header>
                <div class="card-content">
                    <div class="content">
                        <p>A user is any named person who logs into Fiix. We recommend that each technician, admin, or
                            manager have their own user license. Add as many users as you want to your plan at any time.

                        </p>
                    </div>
                </div>

            </div>
            <br>


            <div class="card">
                <header style="background-color: #3273dc;" class="card-header">
                    <p class="card-header-title has-text-white">
                        Do you offer volume based pricing?
                    </p>

                </header>
                <div class="card-content">
                    <div class="content">
                        <p>We believe in being completely flexible at Fiix which is why we’re happy to offer our
                            Performance pricing plan to extend Fiix to more teams, to more users, for less. Feel free to
                            contact us with your wish list and we’ll do what we can to make it happen.

                        </p>
                    </div>
                </div>

            </div>
            <br>



            <div class="card">
                <header style="background-color: #3273dc;" class="card-header">
                    <p class="card-header-title has-text-white">
                        What level of support comes with my subscription plan?
                    </p>

                </header>
                <div class="card-content">
                    <div class="content">
                        <p>All plans receive free product upgrades, in-application video tutorials, and access to our
                            help centre. All of our subscription plans come with email and phone support during regular
                            business hours.

                        </p>
                    </div>
                </div>

            </div>
            <br>


            <div class="card">
                <header style="background-color: #3273dc;" class="card-header">
                    <p class="card-header-title has-text-white">
                        Will you increase my subscriptions prices?
                    </p>

                </header>
                <div class="card-content">
                    <div class="content">
                        <p>We will not increase your subscription price during the terms of your contract. Pricing may
                            be reassessed at renewal to reflect more value being added to your system.

                        </p>
                    </div>
                </div>

            </div>
            <br>

            <div class="card">
                <header style="background-color: #3273dc;" class="card-header">
                    <p class="card-header-title has-text-white">
                        Does Fiix integrate with any other applications?
                    </p>

                </header>
                <div class="card-content">
                    <div class="content">
                        <p>We sure do. We have many pre-built apps and integrations that are available to you right out
                            of the box. Have other integrations in mind? We build custom functionality at a breakneck
                            pace and we’d love to work with you to build the custom solution that you need. Get in touch
                            today.

                        </p>
                    </div>
                </div>

            </div>
            <br>

            <div class="card">
                <header style="background-color: #3273dc;" class="card-header">
                    <p class="card-header-title has-text-white">
                        How do you keep data private and secure?
                    </p>

                </header>
                <div class="card-content">
                    <div class="content">
                        <p>We use multi-factor authentication, IP protection, 256 bit SSL encryption, intrusion
                            detection, minimum password strength algorithms, CAPTCHA protection on failed login for DOS
                            threats, multi-server/geography daily back-ups and much more. You get the picture, we take
                            security very seriously.

                        </p>
                    </div>
                </div>

            </div>
            <br>


        </div>
    </div>
</section>


{% include footer.html %}